# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

name: $(BuildVersion).$(Date:yyMMdd).$(Rev:r)

variables:
  buildNumberVersion: '$(build.buildnumber)'

pool:
  vmImage: 'windows-latest'

steps:
- bash: echo 'Starting Build..'
- bash: echo $(buildNumberVersion)

- task: UseDotNet@2
  displayName: 'Use .Net Core sdk 8.x'
  inputs:
    version: 8.x

- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    version: 10.0.x

- powershell: |
    Write-Host "Starting Cosmos DB Emulator..."
    & "C:\Program Files\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe" /NoUI /NoExplorer /DisableRateLimiting /PartitionCount=100 /Consistency=Session
    
    # Wait for emulator to start
    $timeout = 300 # 5 minutes
    $elapsed = 0
    $interval = 10
    
    do {
        Start-Sleep -Seconds $interval
        $elapsed += $interval
        
        try {
            $response = Invoke-WebRequest -Uri "https://localhost:8081/_explorer/index.html" -UseBasicParsing -TimeoutSec 5
            if ($response.StatusCode -eq 200) {
                Write-Host "Cosmos DB Emulator is ready!"
                break
            }
        }
        catch {
            Write-Host "Waiting for Cosmos DB Emulator to start... ($elapsed/$timeout seconds)"
        }
    } while ($elapsed -lt $timeout)
    
    if ($elapsed -ge $timeout) {
        Write-Error "Cosmos DB Emulator failed to start within $timeout seconds"
        exit 1
    }
  displayName: 'Start Cosmos DB Emulator'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    projects: '**/ElCamino.AspNetCore.Identity.CosmosDB.sln'
    arguments: '-c $(BuildConfiguration) -p:Version=$(BuildVersion)'

- task: PowerShell@2
    displayName: 'Setup Cosmos DB Database and Container'
    inputs:
      targetType: 'inline'
      script: |
        Write-Host "Setting up Cosmos DB database and container..."
      
        # Cosmos DB Emulator connection details
        $cosmosEndpoint = "https://localhost:8081"
        $cosmosKey = "C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="
        $databaseName = "Id2"
        $containerName = "id"
        $partitionKey = "/partitionKey"
      
        # Create PowerShell script to setup database
        $setupScript = @"
        # Install Azure PowerShell module if not present
        if (-not (Get-Module -ListAvailable -Name Az.CosmosDB)) {
            Write-Host "Installing Az.CosmosDB module..."
            Install-Module -Name Az.CosmosDB -Force -Scope CurrentUser -AllowClobber
        }
      
        # Import required modules
        Import-Module Az.CosmosDB -Force
      
        try {
            # Test connection to emulator
            Write-Host "Testing connection to Cosmos DB Emulator..."
            `$headers = @{
                'authorization' = "type%3dmaster%26ver%3d1.0%26sig%3d" + [System.Web.HttpUtility]::UrlEncode("$cosmosKey")
                'x-ms-date' = [DateTime]::UtcNow.ToString("r")
                'x-ms-version' = '2018-12-31'
            }
          
            # Create database using REST API
            Write-Host "Creating database '$databaseName'..."
            `$createDbUri = "$cosmosEndpoint/dbs"
            `$dbBody = @{
                id = "$databaseName"
            } | ConvertTo-Json
          
            `$dbHeaders = `$headers.Clone()
            `$dbHeaders['Content-Type'] = 'application/json'
          
            try {
                `$dbResponse = Invoke-RestMethod -Uri `$createDbUri -Method POST -Headers `$dbHeaders -Body `$dbBody -SkipCertificateCheck
                Write-Host "Database '$databaseName' created successfully"
            }
            catch {
                if (`$_.Exception.Response.StatusCode -eq 409) {
                    Write-Host "Database '$databaseName' already exists"
                }
                else {
                    throw `$_
                }
            }
          
            # Create container using REST API
            Write-Host "Creating container '$containerName' with partition key '$partitionKey'..."
            `$createContainerUri = "$cosmosEndpoint/dbs/$databaseName/colls"
            `$containerBody = @{
                id = "$containerName"
                partitionKey = @{
                    paths = @("$partitionKey")
                    kind = "Hash"
                }
                throughput = @{
                    throughput = 400
                    autoscaleSettings = @{
                        maxThroughput = 4000
                    }
                }
            } | ConvertTo-Json -Depth 10
          
            `$containerHeaders = `$headers.Clone()
            `$containerHeaders['Content-Type'] = 'application/json'
          
            try {
                `$containerResponse = Invoke-RestMethod -Uri `$createContainerUri -Method POST -Headers `$containerHeaders -Body `$containerBody -SkipCertificateCheck
                Write-Host "Container '$containerName' created successfully with autoscale (400-4000 RU/s)"
            }
            catch {
                if (`$_.Exception.Response.StatusCode -eq 409) {
                    Write-Host "Container '$containerName' already exists"
                }
                else {
                    throw `$_
                }
            }
          
            Write-Host "Cosmos DB setup completed successfully!"
        }
        catch {
            Write-Error "Failed to setup Cosmos DB: `$(`$_.Exception.Message)"
            exit 1
        }
  "@
      
        # Execute the setup script
        Invoke-Expression $setupScript
      pwsh: false


- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    publishTestResults: true
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/*.trx'
    resultsFolder: '$(Agent.TempDirectory)\TestResults'
    projects: '**/**.Tests.csproj'
    arguments: '--no-build --logger trx --logger "console;verbosity=detailed" --collect:"XPlat Code Coverage" -c $(BuildConfiguration)'

- task: PublishCodeCoverageResults@2
  displayName: 'Publish Code Coverage'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(Agent.TempDirectory)/TestResults/**/coverage.cobertura.xml'
    pathToSources: '$(System.DefaultWorkingDirectory)'
    reportDirectory: '$(Agent.TempDirectory)/TestResults/CoverageReport'

- task: CopyFiles@1
  displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
  inputs:
    Contents: |
     **/*.dll
     **/*.nupkg
     **/*.snupkg
     **/*.zip
     **/publish/**
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'