# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

name: $(BuildVersion).$(Date:yyMMdd).$(Rev:r)

variables:
  buildNumberVersion: '$(build.buildnumber)'

pool:
  vmImage: 'windows-latest'

steps:
- bash: echo 'Starting Build..'
- bash: echo $(buildNumberVersion)

- task: UseDotNet@2
  displayName: 'Use .Net Core sdk 8.x'
  inputs:
    version: 8.x

- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    version: 10.0.x

- powershell: |
    Write-Host "Starting Cosmos DB Emulator..."
    & "C:\Program Files\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe" /NoUI /NoExplorer /DisableRateLimiting /PartitionCount=100 /Consistency=Session
    
    # Wait for emulator to start
    $timeout = 300 # 5 minutes
    $elapsed = 0
    $interval = 10
    
    do {
        Start-Sleep -Seconds $interval
        $elapsed += $interval
        
        try {
            $response = Invoke-WebRequest -Uri "https://localhost:8081/_explorer/index.html" -UseBasicParsing -TimeoutSec 5
            if ($response.StatusCode -eq 200) {
                Write-Host "Cosmos DB Emulator is ready!"
                break
            }
        }
        catch {
            Write-Host "Waiting for Cosmos DB Emulator to start... ($elapsed/$timeout seconds)"
        }
    } while ($elapsed -lt $timeout)
    
    if ($elapsed -ge $timeout) {
        Write-Error "Cosmos DB Emulator failed to start within $timeout seconds"
        exit 1
    }
  displayName: 'Start Cosmos DB Emulator'

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    projects: '**/ElCamino.AspNetCore.Identity.CosmosDB.sln'
    arguments: '-c $(BuildConfiguration) -p:Version=$(BuildVersion)'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    publishTestResults: true
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/*.trx'
    projects: '**/**.Tests.csproj'
    arguments: '--no-build --logger trx --logger "console;verbosity=detailed" --collect:"XPlat Code Coverage" --results-directory "$(Agent.TempDirectory)/TestResults" -c $(BuildConfiguration)'

- task: PublishCodeCoverageResults@2
  displayName: 'Publish Code Coverage'
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(Agent.TempDirectory)/TestResults/**/coverage.cobertura.xml'
    pathToSources: '$(System.DefaultWorkingDirectory)'
    reportDirectory: '$(Agent.TempDirectory)/TestResults/CoverageReport'

- task: CopyFiles@1
  displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
  inputs:
    Contents: |
     **/*.dll
     **/*.nupkg
     **/*.snupkg
     **/*.zip
     **/publish/**
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'